div.hr {
  height: 3px;
  background-color: black;
  width: 8%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 15px;
}

p.touch {
  font-size: 35px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

p.touchs {
  font-size: 16px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(68, 68, 68);
  margin-bottom: 10px;
}

p.strength {
  font-size: 16px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(68, 68, 68);
  margin-bottom: 35px;
}

button.contact {
  padding: 15px 40px;
  border-radius: 50px;
  background-color: rgb(42, 42, 42);
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin: auto;
  display: flex;
  justify-content: center;
  font: 18px;
  font-family: raleway;
  margin-bottom: 110px;
}

button.contact:hover {
  opacity: 0.6;
  transition: 1.2s;
}

@media (max-width:800px) {
  p.touch {
    font-size: 25px;
  }

  p.touchs {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 18px;
    line-height: 1.6;
    color: rgb(119, 119, 119);
    margin-bottom: 15px;
  }

  p.strength {
    font-size: 18px;
    color: rgb(119, 119, 119)e;
  }
}